<div id="login_container">
  
<h2>Log in</h2>

<div class="form_container">
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email,  :class => "label" %><br />
    <%= f.email_field :email, :class => "texty", autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :password, :class => "label" %><br />
    <%= f.password_field :password, :class => "texty", autocomplete: "off" %>
  </div>

<div class="form_end">
    
    <% if devise_mapping.rememberable? -%>
      <div class="remember">
        <%= f.check_box :remember_me   %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", :class => "right_button" %>
    </div>

</div>
<% end %>
</div>

<%= render "devise/shared/links" %>
</div>
