<!DOCTYPE html>
<html>
<head>
  <title>Geekosh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    '/main.css', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans', media: 'all' %>
</head>
<body>
<% if user_signed_in? %>
  <div id="nav_container">
      <nav>
          <div class="logo">
              <h3>Geekosh</h3>
          </div>
          <div class="search_form">
              <form action="">
                  <input type="text">
                  <input type="submit" value="search">
              </form>
          </div>
          <div class="categories">
              
          </div>
          <div class="menu_links">
              <span class="home">
                  <%= link_to "home", root_url, :class => 'navbar-link'  %>
              </span>
              <span class="you">
                  <%= link_to current_user.first_name, edit_user_registration_path, :class => 'navbar-link' %> 
              </span>
              <span class="contact">
                  <a href="">contact us</a>
              </span>
              <span class="logout">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              </span>
          </div>
      </nav>
  </div>
 <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<% if !user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

  <p class="navbar-text pull-right">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </div>
</nav>
<% end %>
  
<%= yield %>

</body>
</html>
