<!DOCTYPE html>
<html>
<head>
  <title>Geekosh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '/bootstrap.min.js' %>
  <%= stylesheet_link_tag    '/snip.css' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans', media: 'all' %>
  <%= stylesheet_link_tag    '/main.css', media: 'all' %>

</head>
<body>

<div class="container-fluid">
    <!-- Second navbar for search -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fabrique</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Home", root_url, :class => 'navbar-link'  %>
              </li>
            <li><a href="#">About</a></li>
            <li>
              <%= link_to 'Sell', new_product_path %>
            </li>
            <li><a href="#">Contact Us</a></li>

            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://pbs.twimg.com/profile_images/588909533428322304/Gxuyp46N.jpg" alt="maridlcrmn" width="20" /> Maridlcrmn <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">My profile</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                </li>
              </ul>
            </li>
            <% else %> 
              <li>
                <%= link_to "Login", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign up", new_user_registration_path %> 
              </li>
            <% end %>
            <li>
              <a class="btn btn-default btn-outline"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse3">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
</div><!-- /.container-fluid -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
   <%= yield %> 

<div class="container" id="footers">
  <footer>
    <div class="row">

           <div class="col-md-12 socials"> 
               <a href="https://www.twitter.com/">
                    <img src="/skype.png">
               </a>
              <a href="https://www.facebook.com/?_rdr">
                 <img src="/facebook.png">
              </a>
              <a href="https://plus.google.com/">
                 <img src="/g_plus.png">
              </a>
              <a href="http://www.skype.com/en/">
                 <img src="/skype.png">
              </a>
          </div>
         </div>
        <div class="row">
            <div class="col-md-12 copyright_part">    
              <p> 
                 &copy Cliff & Justus-2015
              </p>
            </div>  
         </div>
  </footer>
</div>
</body>
</html>
