<!DOCTYPE html>
<html>
<head>
  <title>Geekosh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

     <% end %>
     <% form_tag search_products_path, method: :get, role: "search" do %>
       <p>
         <%= text_field_tag :search, params[:search], class: "form-control" %>
         <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
       </p>
       <% end %>
<%= yield %>

</body>
</html>
