<!DOCTYPE html>
<html>
<head>
  <title>Geekosh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    '/main.css', media: 'all' %>
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans', media: 'all' %>
  <%= stylesheet_link_tag    '/main.css', media: 'all' %>

    <link rel="stylesheet" href="/semantic.min.css">
  <link rel="stylesheet" href="/packed_global.css">
</head>
<body>
<div class="container">
  <div class="row" id="nav_container">
    <div class="col-md-2" id="logo">
        <h2>Fabrique</h2>
    </div>
    <div class="search_form">
        <form action="">
            <input type="text">
            <input type="submit" value="search">
        </form>
    </div>
            <div class="menu_links col-md-6">
             <ul>
                  <li class="home">
                      <%= link_to "home", root_url, :class => 'navbar-link'  %>
                  </li>

          
                      <% if user_signed_in? %>
                  <li class="home">
                           <%= link_to 'Sell', new_product_path %>

                           </li>

                            <li class="home">
                          <%= link_to current_user.first_name, edit_user_registration_path, :class => 'navbar-link' %> 
                           </li>
                      
                            <li class="home">
                                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            </li>

                          
                          <% else %>   
                    
                          <li class="home">
                            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>

                          </li>

                   
                        <% end %>

                     </ul>
                       
               </div>
        </div>
  </div>

  <div class="container row col-md-12">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

  </div>


   <%= yield %> 
    



<div class="container" id="footers">
  <footer>
    <div class="row">

           <div class="col-md-12 socials"> 

               <a href="https://www.twitter.com/">
                    <img src="/skype.png">
               </a>

            

              <a href="https://www.facebook.com/?_rdr">
                 <img src="/facebook.png">
              </a>

              <a href="https://plus.google.com/">
                 <img src="/g_plus.png">
              </a>

              <a href="http://www.skype.com/en/">
                 <img src="/skype.png">
              </a>

          
            
          </div>
         </div>



        <div class="row">
            <div class="col-md-12 copyright_part">    
              <p> 
                 &copy Cliff & Justus-2015
              </p>
            

              
            </div>  
         </div>
  </footer>
</div>
</body>
</html>
